.taskcard {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.category {
    padding: 4px 12px;
    border-radius: 100px;
    font-size: 0.9rem;
    letter-spacing: .06em;
    color: white;
    background-color: #005465;
}

.taskcard h3 {
    margin: 10px 0;
    font-size: 1.8rem;
}

.taskcard .description {
    margin: 10px 0;
    font-size: 1.2rem;
}

.assignedTo {
    margin: 10px 0;
    color: #555;
}

.high {
    font-weight: bold;
    color: #ff0000;
}
.medium {
    font-weight: bold;
    color: #ffa500;
}
.low {
    font-weight: bold;
    color: #008000;
}